{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "createDefaultProgram": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ignorePatterns": [
    "node_modules/"
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    // 충돌 제거
    "consistent-return": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-no-useless-fragment": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-use-before-define": "off",
    // 파일명 이슈 해결
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".ts",
          ".tsx"
        ]
      }
    ],
    // import 순서
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ],
        // 절대경로 순서 정렬
        "pathGroups": [
          {
            "pattern": "@styles/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@store/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@hooks/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@utils/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@interface/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@containers/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@components/**",
            "group": "internal",
            "position": "after"
          },
          {
            "pattern": "@constants/**",
            "group": "internal",
            "position": "after"
          }
        ]
      }
    ],
  }
}